


.welcome{
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 35px;
}

.navbar {
    margin-bottom: 0 !important;
}

.sign{
   width: 100%;
   margin: 0 auto;
   justify-content: space-around;
   display: flex;
   padding-top: 40px;
}

.header h1{
  text-align: center;
  margin: 0px;
   padding: 0px;
   padding-top: 80px;
}

.registration{
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 1px #000000;
  width: 300px;
  padding-left: 80px;
  padding-bottom: 15px;
  padding-top: 15px;

}


.background-pic{
background-image: url("https://c1.staticflickr.com/5/4413/36978499711_6a8bf79e3b_b.jpg");
min-height: 720px;
height: 100%;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;


}
